.wizard {
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard>.steps {
    position: relative;
    display: block;
    width: 100%;
}

.wizard ul {
    list-style: none!important;
    padding: 0;
    margin: 0;
}

.wizard>.steps>ul>li {
    float: left;
    width: 25%;
}

.wizard ul>li {
    display: block;
    padding: 0;
}

.wizard>.steps .current a,
.wizard>.steps .current a:hover,
.wizard>.steps .current a:active {
    background: #dc3545;
    color: #fff;
    cursor: default;
}

.wizard>.steps .current-info {
    position: absolute;
    left: -999em;
}

.wizard>.steps .number {
    font-size: 1.429em;
}

.wizard>.steps .disabled a,
.wizard>.steps .disabled a:hover,
.wizard>.steps .disabled a:active {
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard>.steps .done a,
.wizard>.steps .done a:hover,
.wizard>.steps .done a:active {
    background: #e66f7a;
    color: #fff;
}

.wizard>.steps a,
.wizard>.steps a:hover,
.wizard>.steps a:active {
    display: block;
    width: auto;
    margin: 0 .5em .5em;
    padding: 1em 1em;
    text-decoration: none;
    border-radius: 5px;
}

.wizard>.content {
    background: #eee;
    display: block;
    margin: .5em;
    overflow: hidden;
    position: relative;
    width: auto;
    border-radius: 5px;
}

.wizard>.actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard>.actions>ul {
    display: inline-block;
    text-align: right;
}

.wizard>.actions>ul>li {
    margin: 0 .5em;
    float: left;
}

.wizard ul {
    list-style: none!important;
    padding: 0;
    margin: 0;
}

.wizard ul>li {
    display: block;
    padding: 0;
}

.wizard>.actions .disabled a,
.wizard>.actions .disabled a:hover,
.wizard>.actions .disabled a:active {
    background: #eee;
    color: #aaa;
}

.wizard>.actions a,
.wizard>.actions a:hover,
.wizard>.actions a:active {
    background: #dc3545;
    color: #fff;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

.wizard a {
    outline: 0;
}

.wizard>.content>.title {
    position: absolute;
    left: -999em;
}

.error {
    color: #ff3111;
    display: inline-block;
}

.wizard>.steps .error a,
.wizard>.steps .error a:hover,
.wizard>.steps .error a:active {
    background: #ff3111;
    color: #fff;
}

.sitewrapper>.content .main>section h3 {
    font-size: 2em;
}

.actions>ul>li>a {
    text-decoration: none;
    color: #fff;
}

.modal-button-container {
    padding: 1em 0em 0em 0em;
}

.align-top {
    vertical-align: top;
}